
  body{
    background-color: white;
  }

  #pie{
    position: absolute;
    left: 20px;
    top: 80px;
  }

  rect{
    pointer-events: none;
  }

  #selectordiv{
    position: absolute;
    left: 20px;
    top: 30px;
  }
  
  #exportdiv{
    position: absolute;
    left: 300px;
    top: 30px;
  }
  